<%= link_to "Main Page", posts_url %>
<h1><%= @post.url %></h1>

<%= form_for(@comment) do |f| %>
  <%= f.label :body, "Comment" %>
  <%= f.text_area :body %><br>

  <%= f.hidden_field :post_id %>
  <%= f.submit("Post Comment") %>
<% end %>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <% unless comment.id.nil? %>

  <form action="/comment_votes" method="post">
    <input type="hidden" name="comment_vote[comment_id]" value="<%= comment.id %>">
    <input type="submit" name="commit" value="Upvote">
  </form>
  <%= comment.comment_votes.count %> Upvotes
    <%= comment.body %>
      <br>
      Posted by: <%= comment.user %> at <%= comment.created_at %>
      <br>
      <br>
  <% end %>
<% end %>